.app__services {
    display: flex;
    flex-direction: column;
    flex: 3;
    width: 100%;
}

.app__services-model {
    display: flex;
    flex-direction: row;
    padding: 3rem;
    justify-content: space-evenly;
}

.p-text {
    font-size: 0.9rem;
    text-align: left;
    line-height: 1.5;

    @media screen and(min-width: 2000px){
        font-size: 1.75rem;
    }
}

.bold-text {
    font-size: 1rem;
    font-weight: 800;
    color: black;
    text-align: left;

    @media screen and (min-width:2000px){
        font-size: 2rem;
    }

    @media screen and (max-width:450px) {
        font-size: 0.9rem;
    }
}

.app__service-item {
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem;

    img {
        width: 100%;
        height: 170px;
        object-fit: cover;
    }

    @media screen and (min-width: 2000px) {
        width: 370px;
        margin: 2rem 4rem;

        img {
            height: 320px;
        }
    }
}

.head-text {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: black;
    text-transform: capitalize;

    span {
        color: #ec901a;
    }

    @media screen and(min-width: 2000px){
        font-size: 4rem;
    }

    @media screen and(max-width: 450px){
        font-size: 2rem;
    }
}

.service-intro {
    padding: 30px 50px;
    align-items: center;
    text-align: center;
}