.app__ads {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 120px;

    @media screen and(max-width: 900px){
        flex-direction: column;
    }
}

.app__ads-text {
    line-height: 1.5;

    h1 {
        padding-top: 70px;
        text-align: left;
    }

    p {
        line-height: 1.5;
    }

}

