.app__footer {
  background-color: #24262b;
  line-height: 1.5;
}

.app__footer-container {
  max-width: 1170px;
//   background-color: red;
padding-top: 50px;
padding-bottom: 50px;
  margin: auto;
}

.app__footer-row{
    display:flex;
    flex-wrap:wrap;
}

.app__footer-col{
    
    width: 25%;
    padding: 0 15px;

    ul {
        list-style: none;

        li {
            a {
                font-size: 16px;
                text-transform: capitalize;
                color: #FFF;
                text-decoration: none;
                font-weight: 300;
                color: #bbb;
                display: block;
                transition: all 0.3 ease;
            }
            
            a:hover{
                color: #fff;
                padding-left: 8px;
            }
        }
    }

    h4 {
        font-size: 18px;
        color: #FFF;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-weight: 500;
        position: relative;
    }

    h4::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }

}