.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 90px;
    height: 20px;

    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;

    width: 80%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background: url("../../assets/bgWhite.png");
    background-color: var(--white-color);
    background-size: cover;
    background-repeat: repeat;

    /* top box shadow */
    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: black;
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;

          transition: all 0.3s ease-in-out;

          &:hover {
            color: black;
          }
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}

.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 15rem;
  background: #bbe8d7;
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 90px;
    height: 20px;

    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
  }
}

.app__navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;

    div {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;

      margin-bottom: 5px;
    }

    a {
      color: black;
      text-decoration: none;
      flex-direction: column;

      text-transform: uppercase;
      font-weight: 600;
      font-size: 15px;

      transition: all 0.3s ease-in-out;

      &:hover {
        background: #1ab57e;
        color: white;
        padding: 8px;
        border-radius: 5px;
      }
    }

    &:hover {
      div {
        background: var(--secondary-color);
      }
    }
  }

  
    Button{
      background-color: #ec901a;
      
      &:hover {
        background-color: #1ab57e;
        cursor: pointer;
      }
    }
    
  

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;

    width: 80%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    // background: url('../../assets/bgWhite.png');
    background-color: var(--white-color);
    background-size: cover;
    background-repeat: repeat;

    /* top box shadow */
    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: var(--gray-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;

          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  position: unset !important;
}

.app__sign-up-main {
  position: absolute;
  top: 20%;
  left: 32%;
  width: 480px;
  padding: 20px 30px;
  // transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 1px 1px 2px 2px rgb(190, 186, 186);
  border-radius: 10px;
}

.sign-up__form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 3%;

  h2 {
    text-align: center;
    color: #ec901a;
    // margin: 10px 0px 20px;
    font-size: 35px;
    text-shadow: 1px 1px 1px #919191;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
  }
}

.form-name {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}


#last-name {
  padding-left: 10px;
  margin-left: 15px;
  outline: none;
  width: 190px;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
}



.sign-up__form .form-element {
  margin: 15px 0px;
}

.form-email {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

#email1 {
  outline: none;
  width: 250px;
  padding-left: 10px;
  width: 190px;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
}



.form-btn {
  margin: 10px;

  button {
    width: 150px;
    height: 40px;
    margin-left: 120px;
    margin-top: 5px;
    background-color: #ffa500;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
  }

  button:hover {
    background-color: #1bb37d;
    box-shadow: 3px 4px 5px gray;
  }
}

.app__login-text {
  text-align: center;
  padding-top: 10px;

  Button {
    color: #ffa500;
    margin-bottom: 2px;

    &:hover {
      color: #1ab57e;
      cursor: pointer;
    }
  }
}

.login__form {
  h2 {
    text-align: center;
    color: #ec901a;
    // margin: 10px 0px 20px;
    font-size: 35px;
    text-shadow: 1px 1px 1px #919191;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
  }
}

.login__form .form-element {
  margin: 15px 0px;
}

.emailid-label {
  position: absolute;
  top: 34%;
  left: 15%;
  font-size: 17px;
  color: #ffa500;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

#email:focus ~ .emailid-label {
  color: #1ab57e;
  top: 27%;
  left: 9%;
  background-color: white;
  font-size: 15px;
  transition: top 300ms ease-in, left 300ms ease-in, font-size 300ms ease-in;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.textbox:not(:placeholder-shown).textbox:not(:focus) ~.emailid-label {
  color: #1ab57e;
  top: 27%;
  left: 9%;
  background-color: white;
  font-size: 15px;
  transition: top 300ms ease-in, left 300ms ease-in, font-size 300ms ease-in;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

#email {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-family: arial;
  height: 50px;
}

#password {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 50px;
}

.password-label {
  position: absolute;
  top: 52%;
  left: 15%;
  font-size: 17px;
  color: #ffa500;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

#password:focus ~.password-label {
  color: #1ab57e;
  top: 45.5%;
  left: 9%;
  background-color: white;
  font-size: 15px;
  transition: top 300ms ease-in, left 300ms ease-in, font-size 300ms ease-in;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.textbox:not(:placeholder-shown).textbox:not(:focus) ~ .password-label {
  color: #1ab57e;
  top: 45.5%;
  left: 9%;
  background-color: white;
  font-size: 15px;
  transition: top 300ms ease-in, left 300ms ease-in, font-size 300ms ease-in;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.login-btn {
  button {
    margin-left: 60px;
    width: 190px;
    height: 50px;
    color: white;
    background: #ffa500;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
  button:hover {
    background: #1ab57e;
    cursor: pointer;
    box-shadow: 2px 2px 5px gray;
  }
}

.app__signup-main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    text-align: center;
    color: #ec901a;
    font-size: 35px;
    text-shadow: 1px 1px 1px #919191;
    font-family: Arial, Helvetica, sans-serif;
  }

  .app__signup-col {
    display: flex;
    flex-direction: row;
    padding: 15px;

    .app__signup-left {
      padding-right: 10px;
      
      .app__space {
        padding-top: 10px;
      }

    }

    .app__signup-right {
      
      .app__space {
        padding-top: 10px;
      }

    }

  }

  .app__signup-button {

    display: flex;
    justify-content: center;


    Button {
      background-color: #ec901a;
      padding-left: 30px;
      padding-right: 30px;

      &:hover {
        background-color: #1ab57e;
      }
    }

  }

}

.app__otp-main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    text-align: center;
    color: #ec901a;
    font-size: 35px;
    text-shadow: 1px 1px 1px #919191;
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .app__signup-button {

    display: flex;
    justify-content: center;
    margin-top: 15px;

    Button {
      background-color: #ec901a;
      padding-left: 30px;
      padding-right: 30px;
      
      &:hover {
        background-color: #1ab57e;
      }
    }

  }

}

.app__login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    text-align: center;
    color: #ec901a;
    font-size: 35px;
    text-shadow: 1px 1px 1px #919191;
    font-family: Arial, Helvetica, sans-serif;
  }

  .app__login-space {
    margin-top: 20px;
  }

  .app__signin-button {

    display: flex;
    justify-content: center;
    margin-top: 15px;

    Button {
      background-color: #ec901a;
      padding-left: 30px;
      padding-right: 30px;
      
      &:hover {
        background-color: #1ab57e;
      }
    }

  }

}

.swal2-styled.swal2-confirm {
  background-color: #ec901a;
}